<div class="container">
    <h1>{{ nb }} nouveaux blocs le {{ date }}</h1>

    {% for stat in stats %}
    <p>{{ stat.count }} {{ stat.grade }}{{ 's' if stat.count > 1 }}</p>
    {% endfor %}
    <br>
    
    <h2>Nouveaux blocs</h2>
    <table>
        <thead>
            <tr>
                <th class="txt">Ouvreur</th>
                <th class="img">Difficulté</th>
                <th class="img">Couleur</th>
                <th class="img">Bloc</th>
                <th class="img">Secteur</th>
        </thead>
        <tbody>
            {% for route in routes %}
            <tr>    
                <td class="txt">{{ route.setterName }}</td>
                <td class="img">{% if route.grade != "unknown"%}<div class="circle {{ route.grade }}"></div>{% else %}N/A{% endif %}</td>
                <td class="img"><img class="color" src="{{ route.hold_color_image_url }}"></td>
                <td class="img">{{ route.island if route.island != 0 else '-' }}</td>
                <td class="img">{{ route.section if route.section != 0 else '-' }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    <h2>Emplacement</h2>
    <img class="map" src="{{ gym_map_url }}" alt="Gym Map">
</div>